@charset "UTF-8";
* {
    position: relative;
    font-family: "Hind Vadodara", sans-serif, "微軟正黑體";
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

label {
    cursor: pointer;
}

.daybox {
    width: 50%;
    max-width: 400px;
    background-color: #f3f3f3;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    cursor: pointer;
}

.daybox:hover .bottom {
    height: 100px;
}

.daybox:hover .dayweather {
    opacity: 1;
    top: 0px;
}

.temsvg {
    width: 100%;
}

.temsvg polyline {
    stroke: #f3f3f3;
    fill: none;
    opacity: 0.2;
}

.temsvg text {
    transform: translateX(-5px) translateY(25px);
    font-size: 10px;
    fill: #f3f3f3;
    opacity: 0;
}

.temsvg circle {
    fill: #f3f3f3;
    opacity: 0.2;
}

.top {
    height: 330px;
    background: linear-gradient(20deg, #19283D, #1D678F);
    background-size: 100% 300%;
    animation: daynight 20s both;
    border-radius: 10px 10px 0px 0px;
}

@keyframes daynight {
    0% {
        background-position: 100% 30%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.moon {
    width: 50px;
    height: 50px;
    left: 50px;
    top: -70px;
    border-radius: 100%;
    box-shadow: 15px -15px;
    animation: moon_move 10s infinite;
}

@keyframes moon_move {
    0% {
        transform: translateX(-15px) translateY(15px);
        box-shadow: 15px -15px #FFD633;
    }
    100% {
        transform: translateX(30px) translateY(-30px);
        box-shadow: -30px 30px #FFD633;
    }
}

.cloud {
    width: 100px;
    height: 36px;
    left: 200px;
    top: 40px;
    border-radius: 20px;
    animation: cloudshift 3s infinite;
    background-color: #ccc;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.cloud:before,
.cloud:after {
    content: "";
    background-color: #ccc;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
}

.cloud:before {
    left: 15px;
    bottom: 15px;
}

.cloud:after {
    left: 35px;
    bottom: 5px;
}

@keyframes cloudshift {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}

.rain {
    width: 2px;
    height: 10px;
    position: absolute;
    left: 45px;
    bottom: 15px;
    animation: raindrop 1s infinite linear;
    background-color: #4DACFF;
}

@keyframes raindrop {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    70% {
        opacity: 0.4;
    }
    100% {
        transform: translateY(55px);
        opacity: 0;
    }
}

.rain2 {
    left: 70px;
    animation: raindrop 1s infinite linear;
    animation-delay: -0.5s;
}

.rain3 {
    left: 30px;
    animation: raindrop 1s infinite linear;
    animation-delay: -0.7s;
}

.thunder1 {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 35px;
    left: 35px;
    background: #FFD633;
    transform: skew(-25deg);
    animation: thunder_flash 1s infinite;
}

.thunder2 {
    width: 25px;
    height: 8px;
    position: absolute;
    top: 47px;
    left: 31px;
    background: #FFD633;
    transform: skew(-25deg);
    animation: thunder_flash 1s infinite;
}

.thunder3 {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 55px;
    left: 40px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 20px solid #FFD633;
    transform: skew(-25deg);
    animation: thunder_flash 1s infinite;
}

@keyframes thunder_flash {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.text-area {
    display: inline-block;
    position: absolute;
    left: 25px;
    bottom: 25px;
    color: #f3f3f3;
}

.text-area .temperature {
    font-size: 76px;
    line-height: 80px;
}

.text-area .infos {
    font-size: 12px;
    opacity: 0.6;
}

.bottom {
    height: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 0px 0px 10px 10px;
    transition-duration: 1.5s;
}

.dayweather:nth-child(1) {
    transition-delay: 0.2s;
}

.dayweather:nth-child(2) {
    transition-delay: 0.4s;
}

.dayweather:nth-child(3) {
    transition-delay: 0.6s;
}

.dayweather:nth-child(4) {
    transition-delay: 0.8s;
}

.dayweather:nth-child(5) {
    transition-delay: 1s;
}

.dayweather:nth-child(6) {
    transition-delay: 1.2s;
}

.dayweather:nth-child(7) {
    transition-delay: 1.4s;
}

.dayweather {
    width: calc(100% / 7 - 5px);
    display: inline-block;
    text-align: center;
    opacity: 0;
    transition-duration: 1s;
    top: 20px;
}

.dayweather h3 {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 1px;
}

.dayweather svg {
    width: 100%;
    max-width: 40px;
    height: 40px;
}

.dayweather svg .sun {
    fill: #FFD633;
    stroke: rgba(255, 214, 51, 0.5);
    stroke-width: 30px;
    stroke-dasharray: 5px;
}

.dayweather svg .rain {
    stroke: #4DACFF;
    stroke-width: 5px;
}

.dayweather svg .cloud {
    fill: #ccc;
}

#switch_night {
    display: none;
}

#switch_night:checked+.top .moon,
#switch_night:checked+.top .cloud {
    opacity: 0.2;
}

#switch_night:checked+.top .temsvg polyline,
#switch_night:checked+.top .temsvg text,
#switch_night:checked+.top .temsvg circle {
    opacity: 1;
}

#switch_night:checked+.top .temsvg text {
    transform: translateX(-5px) translateY(20px);
}

.moon,
.cloud {
    transition: 1s;
}

.temsvg polyline {
    transition: 0.5s;
}

.temsvg circle {
    transition: 0.5s;
}

.temsvg text {
    transition: 0.5s 0.5s;
}